body {
    font-family: Helvetica, sans-serif;
    margin: 50px 70px;
}

header > h1 {
    display: inline-block;
    font-style: 42px;
    margin-right: 50px;
}

main > h1 {
    font-family: Helvetica, serif;
}

nav {
    display: inline-block;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 15px;
}

nav a {
    text-decoration: none;
    color: #118131;
}

main article p {
    letter-spacing: auto;
    word-spacing: 0.1em;
    line-height: 1.3em;
}